aiofiles
arxiv
beautifulsoup4
colorama
fastapi
gpt-researcher
htmldocx
jinja2
json5
json_repair
langchain>=0.2,<0.4
langchain-openai>=0.1,<0.3
langchain_community>=0.2,<0.4
langgraph
loguru
lxml_html_clean
markdown
md2pdf
mistune
pydantic
PyMuPDF
python-docx
python-dotenv
python-multipart
pyyaml
requests
tiktoken
trafilatura
unstructured
uvicorn
websockets
